*{
    padding: 0;
}

.list{
	padding: 15px;
	background-color: #ed9eae;
	width: 554px;
	height: 280px;
	padding-top: 1px;
	padding-bottom: 2px;
	color: #fff;
}
li{
    margin-top: 2%; /*застояние между ячейками*/
	background-color: #c66376;
	list-style-position: inside; /*позиционирование нумерации*/
	line-height: 2.5; /*ширина ячеек*/
}
span{
	background-color: #9e354a;
	padding: 2%;
}
